body {
    background-color: #2f2f2f;
}

h1 {
    color: #fff;
}

.button {
    background-color: #38CC77;
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}